/* Place custom css here. */

@font-face {
    font-family: "LXGWWenKaiMonoGBLite-Regular";
    src: url("/fonts/LXGWWenKaiMonoGBLite-Regular.ttf");
}

article {
    font-family: "LXGWWenKaiMonoGBLite-Regular";
}

html {
    font-family: "LXGWWenKaiMonoGBLite-Regular";
}
